@charset "UTF-8";
/* Usar dos tipologías por página https://fonts.google.com/*/
/* Mis Fuentes: */
@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Open+Sans:wght@300&display=swap");
/*Mis colores*/
/* Opción de página con Paletas de colores https://colorhunt.co/ */
/*Desarrollamos Mixins*/
/*Vincular layout*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Desarrollamos el header*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  font-weight: bolder;
  font-size: 40px;
  padding: 5px;
  background-color: lightgray;
  color: #d10613;
}
header div {
  display: flex;
  justify-content: flex-end;
}

.titleImg {
  height: auto;
}

.titleGeneral {
  padding-left: 20px;
  padding-top: 1px;
}

/*Desarrollamos el Nav*/
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  background-color: whitesmoke;
  margin-right: 5px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px lightgray solid;
}

.menuNav {
  margin: 0;
  padding: 0;
}
.menuNav > li {
  position: relative;
  display: inline-block;
}
.menuNav > li > a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  width: auto;
  margin: 0px 5px;
}
.menuNav > li > a:hover {
  color: whitesmoke;
  background-color: grey;
  transition: all 0.4s;
}

.submenuNav {
  position: absolute;
  background-color: grey;
  width: 250px;
  margin: 0px 0px;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.actual {
  margin-bottom: 0px;
  border-bottom: 5px #d10613 solid;
  background-color: rgb(230, 230, 230);
}

/*Desarrollamos el footer*/
footer ul {
  padding: 0 50px 0 50px;
  margin: 0;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}
footer ul li {
  padding: 5px;
}

/*Desarrollamos las Grids*/
/*Declaramos las areas de las grillas*/
header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.titleIndex {
  grid-area: titleIndex;
}

.titlePages {
  grid-area: titlePages;
}

.titleProcesos {
  grid-area: titleProcesos;
}

.titleFormulario {
  grid-area: titleFormulario;
}

.titleContacto {
  grid-area: titleContacto;
}

.detailMenu {
  grid-area: detailMenu;
}

.textIndex, .textPages {
  grid-area: textoIndex;
}

.textPages {
  grid-area: textoPages;
}

.textProcesos {
  grid-area: textoProcesos;
}

.textFormulario {
  grid-area: textoFormulario;
}

.textContacto {
  grid-area: textoContacto;
}

.imagenIndex, .imagenPages {
  grid-area: galleryIndex;
}

.imagenPages {
  grid-area: galleryPages;
}

footer {
  grid-area: footer;
}

/*Generamos las grillas*/
.gridIndex {
  margin-bottom: 10px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-areas: "header" "nav" "titleIndex" "galleryIndex" "textoIndex" "footer";
}
.gridIndex .textIndex, .gridIndex .textPages {
  max-width: 850px;
}

.gridPages {
  margin-bottom: 10px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-areas: "header" "nav" "titlePages" "galleryPages" "textoPages" "footer";
}
.gridPages .textPages {
  max-width: 850px;
}

.gridProcesos {
  margin-bottom: 10px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-areas: "header" "nav" "titleProcesos" "textoProcesos" "footer";
}
.gridProcesos .textProcesos {
  max-width: 850px;
}

.gridFormulario {
  margin-bottom: 10px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-areas: "header" "nav" "titleFormulario" "textoFormulario" "footer";
}

.gridContacto {
  margin-bottom: 10px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-areas: "header" "nav" "titleContacto" "textoContacto" "footer";
}
.gridContacto .textContacto {
  max-width: 850px;
}

@media (min-width: 500px) {
  .imagenIndex, .imagenPages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
  .imagenPages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
  footer ul {
    justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .gridIndex {
    grid-template-areas: "header header" "nav nav" "galleryIndex titleIndex" "galleryIndex textoIndex" "footer footer";
    grid-template-columns: 1fr 2.5fr;
  }
  .gridPages {
    grid-template-areas: "header header" "nav nav" "titlePages galleryPages" "textoPages galleryPages" "footer footer";
    grid-template-columns: 2.5fr 1fr;
  }
  .textProcesos {
    display: flex;
    flex-direction: column;
    margin: 0 10% 0 10%;
  }
}
@media (min-width: 992px) {
  .gridIndex {
    grid-template-areas: "header header header" "nav nav nav" "galleryIndex titleIndex titleIndex" "galleryIndex textoIndex textoIndex" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gridIndex .menuNav > li > a {
    width: 100px;
    margin: 0px;
  }
  .gridPages {
    grid-template-areas: "header header header" "nav nav nav" "galleryPages titlePages titlePages" "galleryPages textoPages textoPages" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gridPages .menuNav > li > a {
    width: 100px;
    margin: 0px;
  }
  .gridProcesos .menuNav > li > a {
    width: 100px;
    margin: 0px;
  }
  .gridFormulario .menuNav > li > a {
    width: 100px;
    margin: 0px;
  }
  .gridContacto .menuNav > li > a {
    width: 100px;
    margin: 0px;
  }
  .navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .menuNav li:hover .submenuNav {
    visibility: visible;
    opacity: 1;
  }
  .menuNav li .submenuNav li a {
    display: block;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
  }
  .menuNav li .submenuNav li a:hover {
    color: black;
    background-color: whitesmoke;
    transition: all 0.5s;
  }
}
/*Formato de los Textos*/
body {
  background-color: whitesmoke;
  color: black;
  font-family: "Anek Malayalam", sans-serif;
}

ul {
  list-style: none;
}

div {
  padding: 5px;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  padding: 0 10px 0 10px;
}

h2 {
  font-size: 20px;
  margin: 10px 5px 5px 5px;
  font-weight: bolder;
}

.formularioLine {
  margin: 0;
  padding: 5px;
  border-bottom: 2px solid grey;
}

h3, h4 {
  font-size: 18px;
  padding: 10px;
}

.textIndex, .textPages {
  margin: 5px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
.textIndex div, .textPages div {
  padding-bottom: 10px;
}

.textProcesos {
  padding: 5px 40px 20px 40px;
}
.textProcesos div {
  text-align: justify;
}

.new {
  color: #d10613;
}

.erase {
  text-decoration: line-through;
}

.listDots {
  list-style: inside;
  padding-left: 40px;
}
.listDots li a {
  text-decoration: none;
  color: black;
}

.textContacto {
  margin: 0px 20px 0px 20px;
}

.separator {
  height: 10px;
}

table {
  margin: 5px 40px;
}
table .tableTitle {
  font-weight: bold;
}
table .tableRev {
  width: 10%;
  text-align: center;
}
table .tableDate {
  width: 15%;
  text-align: center;
}
table .tableName {
  width: 25%;
  text-align: center;
}
table .tableChange {
  width: auto;
  text-align: justify;
}
table .tableTitle {
  font-weight: bold;
}
table .tableBottom {
  width: 25%;
  text-align: center;
}

table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.accordion-button {
  position: static;
}
.accordion-button:focus {
  -webkit-animation: alerta 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: alerta 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.accordion-button:not(.collapsed) {
  position: static;
  color: black;
  background-color: whitesmoke;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.textFormulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.textFormulario .formulario {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.textFormulario .formularioTitle {
  height: 200px;
}
.textFormulario .formularioTitle p {
  text-align: justify;
  height: 150px;
  overflow: hidden;
}

.btn-primary {
  background-color: lightgray;
  border: none;
  color: black;
  font-weight: bolder;
}
.btn-primary:hover {
  background-color: grey;
  border: none;
  color: whitesmoke;
}
.btn-primary:focus {
  background-color: grey;
  border: none;
  color: whitesmoke;
  -webkit-animation: alerta 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: alerta 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*Desarrollamos las imagenes*/
.imagenIndex, .imagenPages {
  display: flex;
  flex-direction: column;
  align-items: Center;
}
.imagenIndex img, .imagenPages img {
  padding: 5px;
}

.martillo {
  width: 150px;
  padding: 10px;
}

/*Colocar Animaciones a los elementos*/
/* ----------------------------------------------
 * Generated by Animista on 2022-7-15 13:53:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
.alerta {
  -webkit-animation: alerta 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: alerta 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes alerta {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes alerta {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-15 14:15:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.facebook {
  -webkit-animation: facebook 20s ease-out infinite;
          animation: facebook 20s ease-out infinite;
}

@-webkit-keyframes facebook {
  0% {
    transform: scale(1) rotateX(0);
  }
  5% {
    transform: scale(1.5) rotateX(180deg);
  }
  10% {
    transform: scale(1) rotateX(360deg);
  }
  100% {
    transform: scale(1) rotateX(360deg);
  }
}

@keyframes facebook {
  0% {
    transform: scale(1) rotateX(0);
  }
  5% {
    transform: scale(1.5) rotateX(180deg);
  }
  10% {
    transform: scale(1) rotateX(360deg);
  }
  100% {
    transform: scale(1) rotateX(360deg);
  }
}
.instagram {
  -webkit-animation: instagram 20s ease-out infinite;
          animation: instagram 20s ease-out infinite;
}

@-webkit-keyframes instagram {
  25% {
    transform: scale(1) rotateZ(0);
  }
  30% {
    transform: scale(1.5) rotateZ(180deg);
  }
  35% {
    transform: scale(1) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes instagram {
  25% {
    transform: scale(1) rotateZ(0);
  }
  30% {
    transform: scale(1.5) rotateZ(180deg);
  }
  35% {
    transform: scale(1) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
.youtube {
  -webkit-animation: youtube 20s ease-out infinite;
          animation: youtube 20s ease-out infinite;
}

@-webkit-keyframes youtube {
  50% {
    transform: scale(1) rotatey(0);
  }
  55% {
    transform: scale(1.5) rotatey(180deg);
  }
  60% {
    transform: scale(1) rotatey(360deg);
  }
  100% {
    transform: scale(1) rotatey(360deg);
  }
}

@keyframes youtube {
  50% {
    transform: scale(1) rotatey(0);
  }
  55% {
    transform: scale(1.5) rotatey(180deg);
  }
  60% {
    transform: scale(1) rotatey(360deg);
  }
  100% {
    transform: scale(1) rotatey(360deg);
  }
}
.linkedin {
  -webkit-animation: linkedin 20s ease-out infinite;
          animation: linkedin 20s ease-out infinite;
}

@-webkit-keyframes linkedin {
  75% {
    transform: scale(1) rotateZ(0);
  }
  80% {
    transform: scale(1.5) rotateZ(180deg);
  }
  85% {
    transform: scale(1) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes linkedin {
  75% {
    transform: scale(1) rotateZ(0);
  }
  80% {
    transform: scale(1.5) rotateZ(180deg);
  }
  85% {
    transform: scale(1) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
.imagenesAnimation {
  -webkit-animation: imagenesAnimation 0.65s linear both;
          animation: imagenesAnimation 0.65s linear both;
  z-index: -1;
}

@-webkit-keyframes imagenesAnimation {
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(0px);
  }
}

@keyframes imagenesAnimation {
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(0px);
  }
}
.imagenesAnimation2 {
  -webkit-animation: imagenesAnimation2 0.65s linear;
          animation: imagenesAnimation2 0.65s linear;
  z-index: -1;
}

@-webkit-keyframes imagenesAnimation2 {
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(0px);
  }
}

@keyframes imagenesAnimation2 {
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(0px);
  }
}
.imagenesAnimation3 {
  -webkit-animation: imagenesAnimation3 0.65s linear;
          animation: imagenesAnimation3 0.65s linear;
  z-index: -1;
}

@-webkit-keyframes imagenesAnimation3 {
  0% {
    transform: translatey(-500px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes imagenesAnimation3 {
  0% {
    transform: translatey(-500px);
  }
  100% {
    transform: translatey(0px);
  }
}
.imagenesAnimation4 {
  -webkit-animation: imagenesAnimation4 2s linear;
          animation: imagenesAnimation4 2s linear;
  z-index: -1;
}

@-webkit-keyframes imagenesAnimation4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imagenesAnimation4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.martillo {
  z-index: -1;
}/*# sourceMappingURL=style.css.map */