/* Usar dos tipologías por página https://fonts.google.com/*/
/* Mis Fuentes: */

// Importar Fuentes desde style.css / Se coloca antes del Retet
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Open+Sans:wght@300&display=swap');

$fontPrincipal: 'Anek Malayalam', sans-serif;
$fontSecundary: 'Open Sans', sans-serif;


/*Mis colores*/
/* Opción de página con Paletas de colores https://colorhunt.co/ */
$colorBajo: whitesmoke;
$colorSemiBajo:rgb(230, 230, 230);
$colorMedio: lightgray;
$colorFuerte: grey;
$colorGama: #d10613;



