/*Desarrollamos el footer*/

footer {
    ul {
        padding: 0 50px 0 50px;
        margin: 0;
        background-color: $colorMedio;
        display: flex;
        justify-content: center;
        li{
            padding: 5px;
        }
    }
}