.textFormulario{
    $height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .formulario{
        width: 250px;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        &Title{
            height: $height;
            p{
                text-align: justify;
                height: $height - 50;
                overflow: hidden;
            }
        }
    }
}

.btn-primary{
    background-color: $colorMedio;
    border: none;
    color: black;
    font-weight:bolder;
    &:hover{
        background-color: $colorFuerte;
        border: none;
        color: $colorBajo;
    }

    &:focus{
        background-color: $colorFuerte;
        border: none;
        color: $colorBajo;
        animation: alerta 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}