/*Desarrollamos las Grids*/

/*Declaramos las areas de las grillas*/
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
.titleIndex{
    grid-area: titleIndex;
}
.titlePages{
    grid-area: titlePages;
}
.titleProcesos{
    grid-area: titleProcesos;
}
.detailMenu{
    grid-area: detailMenu;
}
.textIndex{
    grid-area: textoIndex;
}
.textPages{
    grid-area: textoPages;
}
.textProcesos{
    grid-area: textoProcesos;
}
.imagenIndex{
    grid-area: galleryIndex;
}
.imagenPages{
    grid-area: galleryPages;
}
footer{
    grid-area: footer;
}


/*Generamos las grillas*/
.gridIndex{
    @include setMedia(1.5em, 100%, grid, 5px);
    grid-template-areas: 
    "header"
    "nav"
    "titleIndex"
    "galleryIndex"
    "textoIndex"
    "footer";
}

.gridPages{
    @include setMedia(1.5em, 100%, grid, 5px);
    grid-template-areas: 
    "header"
    "nav"
    "titlePages"
    "galleryPages"
    "textoPages"
    "footer";
}

.gridProcesos{
    @include setMedia(1.5em, 100%, grid, 5px);
    grid-template-areas: 
    "header"
    "nav"
    "titleProcesos"
    "textoProcesos"
    "footer";
}

.gridContacto{
    @include setMedia(1.5em, 100%, grid, 5px);
    grid-template-areas: 
    "header"
    "nav"
    "titleContacto"
    "textoContacto"
    "footer";
}

@media (min-width:500px){
    .imagenIndex{
        @include setImage(flex, column, flex-start, center);
    }

    .imagenPages{
        @include setImage(flex, column, flex-start, center);
    }

    footer ul{
        justify-content: flex-end;
    }
}

@media (min-width:768px){
    .gridIndex{
        @include setMedia(10px, 100%, grid, 5px);
        grid-template-areas: 
        "header header"
        "nav nav"
        "galleryIndex titleIndex"
        "galleryIndex textoIndex"
        "footer footer";
        grid-template-columns: 1fr 2.5fr;
    }

    .gridPages{
        @include setMedia(10px, 100%, grid, 5px);
        grid-template-areas: 
        "header header"
        "nav nav"
        "titlePages galleryPages"
        "textoPages galleryPages"
        "footer footer";
        grid-template-columns: 2.5fr 1fr;
    }

    .gridProcesos{
        @include setMedia(10px, 100%, grid, 5px);
        grid-template-areas: 
        "header"
        "nav"
        "titleProcesos"
        "textoProcesos"
        "footer";
        grid-template-columns: 1fr;
    }

    .gridContacto{
        @include setMedia(10px, 100%, grid, 5px);
        grid-template-areas: 
        "header"
        "nav"
        "titleContacto"
        "textoContacto"
        "footer";
        grid-template-columns: 1fr;
    }
    .textProcesos{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:992px){
    .gridIndex{
        @include setMedia(10px, 100%, grid, 5px);
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "galleryIndex titleIndex titleIndex"
        "galleryIndex textoIndex textoIndex"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gridPages{
        @include setMedia(10px, 100%, grid, 5px);
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "galleryPages titlePages titlePages"
        "galleryPages textoPages textoPages"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gridProcesos{
        @include setMedia(10px, 100%, grid, 5px);
        grid-template-areas: 
        "header"
        "nav"
        "titleProcesos"
        "textoProcesos"
        "footer";
        grid-template-columns: 1fr;
    }

    

    .navbar-expand-lg .navbar-collapse{
        flex-direction: row-reverse;
    }

    .menuNav{
        li{ 
            &:hover{
                .submenuNav{
                    visibility: visible;
                    opacity: 1;
                }
            }
            .submenuNav{
                li{
                    a{
                        display: block;
                        padding: 10px;
                        color: $colorBajo;
                        text-decoration: none;                       
                        &:hover{
                            color: $colorFuerte;
                            background-color: $colorBajo;
                            transition: all .5s;
                        }
                    }
                }
            }
        }
    }
}