/*Desarrollamos las imagenes*/

.imagenIndex{
    display: flex;
    flex-direction: column;
    align-items: Center;
    img{
    padding: 5px;
    }
}

.imagenPages{
    @extend .imagenIndex;
}

.martillo{
    width: 150px;
    padding: 10px;
}