.imagenIndex{
    display: flex;
    flex-direction: column;
    align-items: Center;
}

.imagenIndex img{
    padding: 5px;
}

.imagenPages{
    display: flex;
    flex-direction: column;
    align-items: Center;
}

.imagenPages img{
    padding: 5px;
}

.martillo{
    width: 150px;
    padding: 10px;
}