/*Desarrollamos el Nav*/

nav{
    position: sticky;
    top: 60px;
    background-color: $colorBajo;
    margin-right: 5px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px $colorMedio solid ;
}

.menuNav{
    margin: 0;
    padding: 0;
    > li{
    position:relative;
    display: inline-block;
        > a {
            display: block;
            padding: 10px;
            color: $colorFuerte;
            text-decoration: none;
            width: auto;
            margin: 0px 5px;
            &:hover{
                color: $colorBajo;
                background-color: $colorFuerte;
                transition: all .4s;
            }
        }
    }
}

.submenuNav{
    position: absolute;
    background-color: $colorFuerte;
    width: 250px;
    margin: 0px 0px;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.actual {
    margin-bottom: 0px;
    border-bottom: 5px $colorGama solid;
    background-color: $colorSemiBajo;
}